* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* 상위컨텐츠부터 아래로 css 설정 */
#root {
  width: 100vw;
  height: 100vh;
}

/* 상위컨텐츠 css 설정 */
header {
  height: 10vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 80vh;
  width: 100vw;
  background-color: black;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: end;
  align-items: end;
}

/* header설정 */

nav {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* footer설정 */
footer>ul {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: space-around
}
#daynightmode, #fullscreenconversion {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
